<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>关于我们</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="{{ asset('/bundles/mirrormain/css/bootstrap.min.css') }}"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('/bundles/mirrormain/css/brief.css') }}">
</head>
<body>
<div id="container">
    <header class="top">
        <div class="topNavLogo">
            <section class="container">
                <div class="row">
                    <div class="col-md-3 logo"><img src="{{ asset('/bundles/mirrormain/images/logo1.png') }}" alt=""></div>
                    <nav class="col-md-9 index-nav-list text-right">
                        <ul>
                            <li><a href="/main/index" class="active">首页</a></li>
                            {% for sort in list %}
                                <li><a href="/main/server/sort/{{ sort['sortId'] }}">{{ sort['name'] }}</a></li>
                            {% endfor %}
                            <li><a href="/main/company">关于我们</a></li>
                            {#<li><a href="#">博客</a></li>#}
                        </ul>
                    </nav>
                </div>
            </section>
            <section class="slide-down" style="display: none">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="figure-pic">
                                <img src="{{ asset('/bundles/mirrormain/images/figurePic.png') }}" alt="">
                            </div>
                            <div class="index-company-info">
                                <h3>公司简介</h3>
                                <p>
                                    公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介</p>
                            </div>
                        </div>
                        <div class="col-md-8 index-two-nav">
                            <div class="row">
                                <div class="col-md-4">
                                    <h4>50个肿瘤热点区域基因检测</h4>
                                    <ul>
                                        <li>乳腺癌</li>
                                        <li>乳腺癌</li>
                                        <li>乳腺癌</li>
                                        <li>乳腺癌</li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <h4>50个肿瘤热点区域基因检测</h4>
                                    <ul>
                                        <li>乳腺癌</li>
                                        <li>乳腺癌</li>
                                        <li>乳腺癌</li>
                                        <li>乳腺癌</li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <h4>50个肿瘤热点区域基因检测</h4>
                                    <ul>
                                        <li>乳腺癌</li>
                                        <li>乳腺癌</li>
                                        <li>乳腺癌</li>
                                        <li>乳腺癌</li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <h4>50个肿瘤热点区域基因检测</h4>
                                    <ul>
                                        <li>乳腺癌</li>
                                        <li>乳腺癌</li>
                                        <li>乳腺癌</li>
                                        <li>乳腺癌</li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <h4>50个肿瘤热点区域基因检测</h4>
                                    <ul>
                                        <li>乳腺癌</li>
                                        <li>乳腺癌</li>
                                        <li>乳腺癌</li>
                                        <li>乳腺癌</li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <h4>50个肿瘤热点区域基因检测</h4>
                                    <ul>
                                        <li>乳腺癌</li>
                                        <li>乳腺癌</li>
                                        <li>乳腺癌</li>
                                        <li>乳腺癌</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </header>
    <main>
        <div class="briefBanner">
            <img src="{{ asset('/bundles/mirrormain/images/briefBanner.jpg') }}" alt="">
        </div>
        <section class="companyDesc">
            <figure>
                <figcaption>公司简介</figcaption>
                <span class="englishTitle">Company profile</span>
                <p>爱默基因（厦门）生物科技有限公司成立于 2016 年，总部坐落于厦门大学翔安校区，在沈阳、长春、哈尔滨、大连等均设立了标准化实验室、GMP 厂房和分支机构。公司主要基于高通量测序、生物信息服务、生物信息云计算、医学检测和生物医药等领域，推动基因科技成果转化，实现基因科技造福人类，专注于肿瘤ctDNA基因测序和肿瘤患者个体化治疗指导，以二代测序及医学生物信息学为核心，常规肿瘤分子病理检测为基石，致力于打造肿瘤个体化治疗临床检测服务及科研一站式解决方案。</p>
            </figure>
        </section>
        <section class="companyPicBox companyPicBox1">
            <aside class="companyPic companyPic1">
                <img src="{{ asset('/bundles/mirrormain/images/companyPic1.png') }}" alt="">
            </aside><aside class="companyDesc1">
                <h3>基因诊断研发中心</h3>
                <p>爱默基因与厦门大学药学院共同建立了“基因诊断研发中心”，共享厦大药学院的大型仪器科研平台，如：Thermo  Fisher  Q-Exactive质谱仪、ZEISS激光共聚焦显微镜、PerkinElmer  Operetta™高内含高通量药物筛选系统等。中心专注于特色肿瘤早期诊断，建立特色的肿瘤检测Panel，为靶向用药提供指导，提供高通量测序，健康基因检测，临床基因筛查等服务。中心拥有厦门大学一流科研机构的资深科学家领衔的专业技术团队，包括技术顾问、项目经理及研发人员等多数都是具有国内外著名研究机构或高等学府资深工作经验的生物科研专家。</p>
            </aside>
        </section>
        <section  class="companyPicBox companyPicBox2">
            <aside class="companyDesc2">
                <h3>公司分布及战略合作</h3>
                <p>公司在沈阳、本溪、大连、长春、哈尔滨、福州、厦门均设有分公司，依托各分公司以及沈阳凯杰科贸有限公司精锐的销售团队，提供临床诊断、健康管理、高通量测序、医学转化等多领域服务。同时，公司获得了美国加州大学圣地亚哥医学院、美国艾凯奇细胞生物公司、华南生物芯片研究中心等国内外一流科研机构的鼎力支持和加盟。公司将秉承着严谨的科学态度守护生命健康，始终会基因诊断和新兴技术临床医学转化的道路上不断探索和前行，助力精准医疗。</p>
            </aside><aside class="companyPic companyPic2">
                <img src="{{ asset('/bundles/mirrormain/images/companyPic2.png') }}" alt="">
            </aside>
        </section>
        <section>
            <aside class="briefImg1">
                <img src="{{ asset('/bundles/mirrormain/images/briefImg1.jpg') }}" alt="">
            </aside>
        </section>
        <section>
            <div class="JL-list">
                <ul>
                    <li>
                        <span>
                            <img src="{{ asset('/bundles/mirrormain/images/briefIco1.jpg') }}" alt="">
                        </span>
                        <h3>爱默理念</h3>
                        <p>AMOGENE衍生于Amoy Gene Diagnosis，以厦门市鸟白鹭构筑了公司的主体Logo，旨在放飞厦门的基因诊断技术，造福有需要的人。爱默专注于基因诊断技术，助力精准医疗，为生命健康保驾护航。</p>
                    </li>
                    <li>
                        <span>
                            <img src="{{ asset('/bundles/mirrormain/images/briefIco2.jpg') }}" alt="">
                        </span>
                        <h3>爱默文化</h3>
                        <p>爱默基因秉承着“放飞厦门基因诊断技术，造福有需要的人”的理念，我们努力进取、不断创新，用严谨的科学守护生命健康，我们始终会在基因诊断和新兴技术临床医学转化的道路上不断探索</p>
                    </li>
                    <li>
                        <span>
                            <img src="{{ asset('/bundles/mirrormain/images/briefIco3.jpg') }}" alt="">
                        </span>
                        <h3>爱默愿景</h3>
                        <p>爱默基因坚持严谨和创新的科研态度，利用国际前沿生物技术、基因组大数据分析能力，基于二代测序平台的高灵敏度诊断技术致力于基因诊断，推进精准医疗的发展，为守护生命健康。根据检测报告进行的个性化用药指导帮助医生挑选疗效最佳的药物和治疗手段，让患者获得最有效的治疗。</p>
                    </li>
                </ul>
            </div>
        </section>
        <section>
            <aside class="briefImg2">
                <img src="{{ asset('/bundles/mirrormain/images/briefImg2.jpg') }}" alt="">
            </aside>
        </section>
    </main>
    <footer>
        <div class="container">
            <div class="footerNav">
                <ul>
                    <li><span>临床服务</span>
                        <ul>
                            <li><a href="javascript;">基因编辑</a></li>
                            <li><a href="javascript;">病毒包装</a></li>
                            <li><a href="javascript;">高能测量序</a></li>
                            <li><a href="javascript;">质谱学</a></li>
                        </ul>
                    </li>
                    <li><span>健康管理</span>
                        <ul>
                            <li><a href="javascript;">基因编辑</a></li>
                            <li><a href="javascript;">病毒包装</a></li>
                            <li><a href="javascript;">高能测量序</a></li>
                            <li><a href="javascript;">质谱学</a></li>
                        </ul>
                    </li>
                    <li><span>科研服务</span>
                        <ul>
                            <li><a href="javascript;">基因编辑</a></li>
                            <li><a href="javascript;">病毒包装</a></li>
                            <li><a href="javascript;">高能测量序</a></li>
                            <li><a href="javascript;">质谱学</a></li>
                        </ul>
                    </li>
                    <li><span>关于我们</span>
                        <ul>
                            <li><a href="javascript;">基因编辑</a></li>
                            <li><a href="javascript;">病毒包装</a></li>
                            <li><a href="javascript;">高能测量序</a></li>
                            <li><a href="javascript;">质谱学</a></li>
                        </ul>
                    </li>
                    <li>
                        <p><img src="{{ asset('/bundles/mirrormain/images/footerLogo.png') }}" alt=""></p>
                        <p><img src="{{ asset('/bundles/mirrormain/images/code.png') }}" alt=""></p>
                    </li>
                    <li><span>联系我们</span>
                    <ul>
                        <li>13402983984</li>
                        <li>北京市朝阳区望京SOHO</li>
                        <li>高能测量序</li>
                        <li>质谱学</li>
                    </ul>
                </li>
                </ul>
                <div class="copyright">
                    Copyright©2011-2016 All Rights Reserved 版权所有：北京Amogene科技股份有限公司 京ICP备15008045号-2
                </div>
            </div>
        </div>
    </footer>
</div>
<script src="{{ asset('/bundles/mirrormain/js/jquery.js',null,false,version) }}"></script>
<script src="{{ asset('/bundles/mirrormain/js/brief.js') }}"></script>
</body>
</html>