<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>服务详情</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="{{ asset('/bundles/mirrormain/css/bootstrap.min.css') }}"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('/bundles/mirrormain/css/healthTemp.css') }}">
</head>
<body>
<div id="container">
    <header class="top">
        <div class="topNavLogo">
            <section class="container">
                <div class="row">
                    <div class="col-md-3 logo"><img src="{{ asset('/bundles/mirrormain/images/logo1.png') }}" alt=""></div>
                    <nav class="col-md-9 index-nav-list text-right">
                        <ul>
                            <li><a href="/main/index" class="active">首页</a></li>
                            {% for sort in list %}
                                <li><a href="/main/server/sort/{{ sort['sortId'] }}">{{ sort['name'] }}</a></li>
                            {% endfor %}
                            <li><a href="/main/company">关于我们</a></li>
                            {#<li><a href="#">博客</a></li>#}
                        </ul>
                    </nav>
                </div>
            </section>
        </div>

    </header>
    <main>
        <div class="banner">
            <img src="" alt="" id="banner">
            <div class="bannerDesc">
                <h3 id="title"></h3>
                <p id="description">目标区域测序区域测序目标区域测序目标区域测序目标区域测序</p>
            </div>

        </div>
        <div class="tabNav" id="show">
            <ul>
                <li class="current">产品介绍</li>
                <li>常见问题</li>
                <li>经典案例</li>
                <li>结果展示</li>
            </ul>
        </div>
        <div class="tabContent">
            <div class="product">
                <section>

                </section>
            </div>
            <div class="question">
                <section>

                </section>
            </div>
            <div class="case">
                <section>

                </section>

            </div>
            <div class="result">
                <section>

                </section>
            </div>
        </div>
    </main>
    <footer>
        <div class="container">
            <div class="footerNav">
                <ul>
                    {% for sort in list %}
                        <li><span>{{ sort['name'] }}</span>
                            <ul>
                                {% for server in sort['server'] %}
                                    {% for server in sort['server'] %}
                                        {% if(server['is_up']==1) %}
                                            <li><a href="/main/server/{{ server['id'] }}">{{ server['title'] }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                    <li><span>关于我们</span>
                        <ul>
                            <li><a href="/main/company">爱默简介</a></li>
                            <li><a href="/main/invite">加入我们</a></li>
                            <li><a href="/main/contact">联系我们</a></li>
                        </ul>
                    </li>
                    <li>
                        <p><img src="{{ asset('/bundles/mirrormain/images/footerLogo.png') }}" alt=""></p>
                        <p><img src="{{ asset('/bundles/mirrormain/images/code.jpg') }}" alt=""></p>
                    </li>
                    <li><span>联系我们</span>
                        <ul>
                            <li>0592-7821662</li>
                            <li>福建省厦门市厦门大学翔安校区庄瑾楼442</li>
                        </ul>
                    </li>
                </ul>
                <div class="copyright">
                    Copyright©2011-2016 All Rights Reserved 版权所有：北京Amogene科技股份有限公司 京ICP备15008045号-2
                </div>
            </div>
        </div>
    </footer>
</div>
<script src="{{ asset('/bundles/mirrormain/js/jquery.js') }}"></script>
<script src="{{ asset('/bundles/mirrormain/js/admPublic.js') }}"></script>
<script src="{{ asset('/bundles/mirrormain/js/healthTemp.js') }}"></script>
<script>
    var id={{ id }};
    ajaxAction("get",'/api/server/info/'+id,'',true,function(data,textStatus){
        $('.result section').html(data.result);
        $('.case section').html(data.example);
        $('.question section').html(data.problem);
        $('.product section').html(data.product);
        $('#banner').attr('src',data.banner);
        $('#title').html(data.title);
        $('#description').html(data.description);
        if(data.is_product=='2'){
            $('#show').hide();
        }
    },function(errno,errmsg){
        zdalert('系统提示',errmsg);
    });
</script>
</body>
</html>