{% extends 'MirrorAdmBundle:Base:base.html.twig' %}
{% block typeForm %}
    <div class="addUser">
        <div class="addUserTit">
            <h3>分类管理-<span style="color: #ff8400; font-size:18px;">添加分类</span></h3>
        </div>
        <!-- /.addUserTit -->
        <div class="addUserForm form-horizontal">

                <div class="form-group">
                    <label for="sortParent" class="col-md-3 control-label text-right">父级分类：</label>
                    <div class="col-md-3">
                        <input type="text" disabled class="form-control" id="sortParent" value="{{ name }}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="sortName" class="col-md-3 control-label text-right">分类名称：</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="sortName">
                    </div>
                </div>

                <div class="form-group">
                    <label for="number" class="col-md-3 control-label text-right">图片：</label>
                    <div class="col-md-3 imageUpload">
                        <form action="" name="uploadForm">
                        <img src="{{ asset('/bundles/mirroradm/images/default.jpg') }}" alt="" style="max-width: 500px">
                        <input type="file" id="imageUpload" name="file">
                        <input type="hidden" id="imageValue">
                        </form>
                    </div>

                </div>

                <div class="form-group">
                    <label for="sortAttr" class="col-md-3 control-label text-right">分类属性：</label>
                    <div class="col-md-3">
                        <input type="text" name="sortAttr" style="line-height: 30px">
                        <img src="{{ asset('/bundles/mirroradm/images/jiahao.png') }}" width="30px" height="30px" style="cursor: pointer" onclick="addInput(this)" alt="">
                    </div>
                </div>

                <div class="form-group margin_top">
                    <div class="col-md-2 col-md-offset-3 userSubmit margin_top">
                        <button class="btn btn-default resetButton" id="cancel">取消</button>
                    </div>
                    <div class="col-md-2 margin_top">
                        <button class="btn btn-default resetButton" id="ensure">确定</button>
                    </div>
                </div>

        </div>
        <!-- /.addUserForm -->
    </div>
    <!-- /.addUser -->

{% endblock %}
{% block otherJs %}
    <script>
        $(function(){
            adminTabNav($('.adminLeftNav .sort'));
            $('#imageUpload').change(function () {
                if(!/image\/\w+/.test(this.files[0].type)){
                    zdalert('系统提示',"文件必须为图片！");
                    return false;
                }
                banner_upload(this,$('.imageUpload'));
                pubImgUpload($('form[name=uploadForm]')[0],$('#imageValue'));
            });
            $('#cancel').click(function () {
                location.href='/adm/sort?sortId='+{{ sortId }};
            });
            $('#ensure').click(function(){
                var info={};
                info.parentId={{ id }};
                info.name=$('#sortName').val();
                info.image=$('#imageValue').val();
                info.attr=[];
                $('input[name=sortAttr]').each(function(){
                    if($(this).val()!=''){
                        info.attr.push($(this).val());
                    }
                });
                if(info.name==''){
                    zdalert('系统提示','分类名不能为空');
                    return;
                }
                ajaxAction("post",'/api/sort',info,false,function(data,textStatus){
                    zdalert('系统提示','添加成功',function($r){
                        if($r){
                            location.href='/adm/sort?sortId='+{{ sortId }};
                        }
                    });
                },function(errno,errmsg){
                    zdalert('系统提示',errmsg);
                });
            });
        });
        function addInput(obj) {
            $(obj).before('<input type="text" name="sortAttr" style="line-height: 30px">');
        }
    </script>

{% endblock %}