<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>健康管理</title>
    <link rel="stylesheet" href="{{ asset('/bundles/mirrormain/css/healthManage.css') }}">
</head>
<body>
<div class="container">
    <section class="top">
            <span class="logo">
                <img src="{{ asset('/bundles/mirrormain/images/logo1.png') }}" alt="">
            </span>
        <div class="nav">
            <ul>
                <li><a href="/main/index" class="active">首页</a></li>
                {% for sort in list %}
                    <li><a href="/main/server/sort/{{ sort['sortId'] }}">{{ sort['name'] }}</a></li>
                {% endfor %}
                <li><a href="/main/company">关于我们</a></li>
                {#<li><a href="#">博客</a></li>#}
            </ul>
        </div>
    </section>
    <section class="main">
        <aside class="left">
            <h3>健康管理 <p>Health</p><p>management</p></h3>
            <ul>
                {#<li><a href="#">美服基因</a></li>
                <li><a href="#">HPV</a></li>#}
            </ul>
        </aside>
        <aside class="right">
            <div class="rightMain">
                <h3></h3>
                <p></p>
                <div class="healthList">
                    <ul>
                        {#<li><a href="#">孕妇产前基因检测套餐</a></li>
                        <li><a href="#">孕妇产前基因检测套餐</a></li>
                        <li><a href="#">孕妇产前基因检测套餐</a></li>
                        <li><a href="#">孕妇产前基因检测套餐</a></li>
                        <li><a href="#">孕妇产前基因检测套餐</a></li>
                        <li><a href="#">孕妇产前基因检测套餐</a></li>#}
                    </ul>
                </div>

                <div style="clear: both"></div>
                <div class="page">
                        <span class="pageLeft">
                            <img src="{{ asset('/bundles/mirrormain/images/arrowsTop.png') }}" alt="">
                        </span>
                    <span class="count">01</span>
                    <span class="pageRight">
                            <img src="{{ asset('/bundles/mirrormain/images/arrowsBottom.png') }}" alt="">
                        </span>
                </div>
            </div>

        </aside>
    </section>
</div>
<script src="{{ asset('/bundles/mirrormain/js/jquery.js',null,false,version) }}"></script>
<script src="{{ asset('/bundles/mirrormain/js/admPublic.js',null,false,version) }}"></script>
<script>
    $(function () {
        ajaxAction("get",'/api/server/'+{{ sortId }},'',false,function(data,textStatus){
            var count =1;
            healthPage(count,data);
            $('.pageLeft').on('click',function () {
                if(count>1){
                    count--;
                    if(count<10){
                        $('.count').text('0'+count);
                    }else {
                        $('.count').text(count);
                    }
                    healthPage(count,data);
                }

            });
            $('.pageRight').on('click',function () {
                if(count<data.data.length){
                    count++;
                    if(count<10){
                        $('.count').text('0'+count);
                    }else {
                        $('.count').text(count);
                    }
                    healthPage(count,data);
                }

            });

        })
    });


    function healthPage(count,data) {
        console.log(data);
        count = count-1;
        var leftDom = '',rightDom='';
        $.each(data.data[count].up_list,function (idx,item) {
            leftDom+='<li><a href="http://www.amogene.com/main/server/'+item.id+'" style="background-image: url('+item.logo+')">'+item.title+'</a></li>';
        });
        $.each(data.data[count].list,function (idx,item) {
            rightDom+='<li><a href="http://www.amogene.com/main/server/'+item.id+'" style="background-image: url('+item.logo+')>'+item.title+'</a></li>';
        });
        $('.rightMain').css({'background-image':'url('+data.data[count].sort.logo+')'});
        $('.left ul').html(leftDom);
        $('.healthList ul').html(rightDom);
        $('.rightMain h3').text(data.data[count].sort.name);
        $('.rightMain p').text(data.data[count].sort.description);
    }
</script>
</body>
</html>