<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>健康管理</title>
    <link rel="stylesheet" href="{{ asset('/bundles/mirrormain/css/healthManage.css') }}">
</head>
<body>
<div class="container">
    <section class="top">
            <span class="logo">
                <img src="{{ asset('/bundles/mirrormain/images/logo1.png') }}" alt="">
            </span>
        <div class="nav">
            <ul>
                <li><a href="">首页</a></li>
                {% for sort in list %}
                    <li><a href="/main/server/sort/{{ sort['sortId'] }}">{{ sort['name'] }}</a></li>
                {% endfor %}
                <li><a href="">关于我们</a></li>
                {#<li><a href="">博客</a></li>#}
            </ul>
        </div>
    </section>
    <section class="main">
        <aside class="left">
            <h3>健康管理 <p>Health</p><p>management</p></h3>
            <ul>
                <li><a href="#">美服基因</a></li>
                <li><a href="#">HPV</a></li>
            </ul>
        </aside>
        <aside class="right">
            <div class="rightMain">
                <h3>妇幼保健</h3>
                <p>现代医学研究表明，人类患病是基因（内因）和环境（外因）共同作用的结果。通过基因检测获取基因型信息，全面了解个体遗传特性，帮助建立更加健康的生活方式及饮食习惯，做到复杂疾病的全面预防。</p>
                <div class="healthList">
                    <ul>
                        <li><a href="#">孕妇产前基因检测套餐</a></li>
                        <li><a href="#">孕妇产前基因检测套餐</a></li>
                        <li><a href="#">孕妇产前基因检测套餐</a></li>
                        <li><a href="#">孕妇产前基因检测套餐</a></li>
                        <li><a href="#">孕妇产前基因检测套餐</a></li>
                        <li><a href="#">孕妇产前基因检测套餐</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">孕妇产前基因检测套餐</a></li>
                        <li><a href="#">孕妇产前基因检测套餐</a></li>
                        <li><a href="#">孕妇产前基因检测套餐</a></li>
                        <li><a href="#">孕妇产前基因检测套餐</a></li>
                        <li><a href="#">孕妇产前基因检测套餐</a></li>
                        <li><a href="#">孕妇产前基因检测套餐</a></li>
                    </ul>
                </div>

                <div style="clear: both"></div>
                <div class="page">
                        <span>
                            <img src="{{ asset('/bundles/mirrormain/images/arrowsTop.png') }}" alt="">
                        </span>
                    <span>01</span>
                    <span>
                            <img src="{{ asset('/bundles/mirrormain/images/arrowsBottom.png') }}" alt="">
                        </span>
                </div>
            </div>

        </aside>
    </section>
</div>
</body>
</html>