<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>加入我们</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="{{ asset('/bundles/mirrormain/css/bootstrap.min.css') }}"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('/bundles/mirrormain/css/invite.css') }}">
</head>
<body>
<div id="container">
    <header class="top">
        <div class="topNavLogo">
            <section class="container">
                <div class="row">
                    <div class="col-md-3 logo"><img src="{{ asset('/bundles/mirrormain/images/logo1.png') }}" alt=""></div>
                    <nav class="col-md-9 index-nav-list text-right">
                        <ul>
                            <li><a href="/main/index" class="active">首页</a></li>
                            {% for sort in list %}
                                <li><a href="/main/server/sort/{{ sort['sortId'] }}">{{ sort['name'] }}</a></li>
                            {% endfor %}
                            <li><a href="/main/company">关于我们</a></li>
                            {#<li><a href="#">博客</a></li>#}
                        </ul>
                    </nav>
                </div>
            </section>
        </div>

    </header>
    <main>
        <div class="briefBanner">
            <img src="{{ asset('/bundles/mirrormain/images/inviteBanner.png') }}" alt="">
        </div>
        <section>
            <div class="inviteH3Title">
                <h3>我们提供优越的福利待遇</h3>
                <small>We offer superior benefits</small>
            </div>
            <div id="inviteTitle">
                <a href="javascript:void(0)" target="_blank">WEB前端</a>
                <a href="javascript:void(0)" target="_blank">产品设计</a>
                <a href="javascript:void(0)" target="_blank">UI设计</a>
                <a href="javascript:void(0)" target="_blank">测试工程师</a>
                <a href="javascript:void(0)" target="_blank">安卓工程师</a>
                <a href="javascript:void(0)" target="_blank">IOS工程师</a>
                <a href="javascript:void(0)" target="_blank">UI设计</a>
                <a href="javascript:void(0)" target="_blank">安卓工程师</a>
                <a href="javascript:void(0)" target="_blank">WEB前端</a>
                <a href="javascript:void(0)" target="_blank">产品设计</a>
                <a href="javascript:void(0)" target="_blank">安卓工程师</a>
                <a href="javascript:void(0)" target="_blank">测试工程师</a>
                <a href="javascript:void(0)" target="_blank">IOS工程师</a>
            </div>
        </section>
        <section>
            <div class="inviteVideo">
                <img src="{{ asset('/bundles/mirrormain/images/inviteVideo.png') }}" alt="">
            </div>
        </section>
        <section>
            <div class="inviteList">
                <div class="inviteListBg">
                    <img src="{{ asset('/bundles/mirrormain/images/inviteListBg1.png') }}" alt="">
                    <img src="{{ asset('/bundles/mirrormain/images/inviteListBg2.png') }}" alt="">
                    <img src="{{ asset('/bundles/mirrormain/images/inviteListBg3.png') }}" alt="">
                </div>
                <ul>
                    {#<li>
                        <a href="#" class="inviteCon">生物信息专员</a>
                        <span class="num">1</span>
                    </li>
                    <li>
                        <a href="#" class="inviteCon">生物信息专员</a>
                        <span class="num noNum">1</span>
                    </li>
                    <li>
                        <a href="#" class="inviteCon">生物信息专员</a>
                        <span class="num">1</span>
                    </li>
                    <li>
                        <a href="#" class="inviteCon">生物信息专员</a>
                        <span class="num">1</span>
                    </li>
                    <li>
                        <a href="#" class="inviteCon">生物信息专员</a>
                        <span class="num">1</span>
                    </li>
                    <li>
                        <a href="#" class="inviteCon">生物信息专员</a>
                        <span class="num">1</span>
                    </li>#}
                </ul>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <div class="footerNav">
                <ul>
                    {% for sort in list %}
                        <li><span>{{ sort['name'] }}</span>
                            <ul>
                                {% for server in sort['server'] %}
                                    {% for server in sort['server'] %}
                                        {% if(server['is_up']==1) %}
                                            <li><a href="/main/server/{{ server['id'] }}">{{ server['title'] }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                    <li><span>关于我们</span>
                        <ul>
                            <li><a href="/main/company">爱默简介</a></li>
                            <li><a href="/main/invite">加入我们</a></li>
                            <li><a href="/main/contact">联系我们</a></li>
                        </ul>
                    </li>
                    <li>
                        <p><img src="{{ asset('/bundles/mirrormain/images/footerLogo.png') }}" alt=""></p>
                        <p><img src="{{ asset('/bundles/mirrormain/images/code.jpg') }}" alt=""></p>
                    </li>
                    <li><span>联系我们</span>
                        <ul>
                            <li>0592-7821662</li>
                            <li>福建省厦门市厦门大学翔安校区庄瑾楼442</li>
                        </ul>
                    </li>
                </ul>
                <div class="copyright">
                    Copyright©2011-2016 All Rights Reserved 版权所有：北京Amogene科技股份有限公司 京ICP备15008045号-2
                </div>
            </div>
        </div>
    </footer>
</div>
<script src="{{ asset('/bundles/mirrormain/js/jquery.js',null,false,version) }}"></script>
<script src="{{ asset('/bundles/mirrormain/js/admPublic.js',null,false,version) }}"></script>
<script src="{{ asset('/bundles/mirrormain/js/invite.js') }}"></script>
</body>
</html>