<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>爱默基因</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="{{ asset('/bundles/mirrormain/css/bootstrap.min.css') }}"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('/bundles/mirrormain/css/inde.css') }}">
</head>
<body>
<div id="container">
    <header class="top">
        <div class="topNavLogo">
            <section class="container">
                <div class="row">
                    <div class="col-md-3 logo"><img src="{{ asset('/bundles/mirrormain/images/logo1.png') }}" alt=""></div>
                    <nav class="col-md-9 index-nav-list text-right">
                        <ul>
                            <li><a href="#" class="active">首页</a></li>
                            <li><a href="#">临床服务</a></li>
                            <li><a href="#">健康管理</a></li>
                            <li><a href="#">科研服务</a></li>
                            <li><a href="#">关于我们</a></li>
                            <li><a href="#">博客</a></li>
                        </ul>
                    </nav>
                </div>
            </section>
            <section class="slide-down" style="display: none">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="figure-pic">
                                <img src="{{ asset('/bundles/mirrormain/images/figurePic.png') }}" alt="">
                            </div>
                            <div class="index-company-info">
                                <h3>公司简介</h3>
                                <p>
                                    爱默基因公司以数位国家“千人计划”归国教授团队为核心组建，以“产学研”一体化的创新发展模式引领基因组学的发展，并同厦门大学药学院共建了“基因诊断研发中心”。公司主要基于高通量测序、生物信息服务、生物信息云计算、医学检测和生物医药等领域，推动基因科技成果转化，实现基因科技造福人类，专注于肿瘤ctDNA基因测序和肿瘤患者个体化治疗指导，以二代测序及医学生物信息学为核心，常规肿瘤分子病理检测为基石，致力于打造肿瘤个体化治疗临床检测服务及科研一站式解决方案。
                                </p>
                            </div>
                        </div>
                        <div class="col-md-8 index-two-nav">
                            <div class="row">
                                <div class="col-md-4">
                                    <h4>临床服务</h4>
                                    <ul>
                                        <li>50个肿瘤基因热点区域突变检测</li>
                                        <li>乳腺癌卵巢癌易感基因突变检测</li>
                                        <li>遗传性结直肠癌基因突变检测</li>
                                        <li>线粒体全长基因检测</li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <h4>健康服务</h4>
                                    <ul>
                                        <li>美肤基因检测</li>
                                        <li>HPV基因检测</li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <h4>科研服务</h4>
                                    <ul>
                                        <li>高通量测序服务</li>
                                        <li>液体活检</li>
                                        <li>CRISPR</li>
                                        <li>慢病毒包装服务</li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <h4>关于我们</h4>
                                    <ul>
                                        <li>爱默简介</li>
                                        <li>加入我们</li>
                                        <li>联系我们</li>
                                    </ul>
                                </div>
                                <!--<div class="col-md-4">
                                    <h4>50个肿瘤热点区域基因检测</h4>
                                    <ul>
                                        <li>乳腺癌</li>
                                        <li>乳腺癌</li>
                                        <li>乳腺癌</li>
                                        <li>乳腺癌</li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <h4>50个肿瘤热点区域基因检测</h4>
                                    <ul>
                                        <li>乳腺癌</li>
                                        <li>乳腺癌</li>
                                        <li>乳腺癌</li>
                                        <li>乳腺癌</li>
                                    </ul>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </header>
    <main>
        <div class="publicityVideo">
            <video autoplay loop poster="polina.jpg" id="bgvid" muted>
                <source src="{{ asset('/bundles/mirrormain/video/video.mp4') }}" type="video/mp4">
            </video>
            <h3>精准医疗检测服务</h3>
            <a href="javascript;">了解详情</a>
        </div>
        <section class="advantage firstMain">
            <figure>
                <figcaption>关于联合保护中国人类遗传资源的倡议书</figcaption>
                <p>为全面贯彻落实我国人类遗传资源法规政策，提高我国生物企业责任感，促进平等互利的国际合作和交流，共同筑起保护我国人类遗传资源防线，爱默基因等数十家生物企业共同倡议：</p>
                <a href="javascript;">了解详情</a>
            </figure>
            <div class="advantageImg1">
                <ul>
                    <li>
                        <img src="{{ asset('/bundles/mirrormain/images/advantageIco1.png') }}" alt="">
                        <h4>
                            <p>临床诊断</p>
                            <p>clinical diagnosis</p>
                        </h4>
                        <p>利用基因测序技术，患者可以通过基因检测，了解自己的病症与自身基因变异的关系，从而获得最佳的治疗方案。</p>
                    </li>
                    <li>
                        <img src="{{ asset('/bundles/mirrormain/images/advantageIco2.png') }}" alt="">
                        <h4>
                            <p>健康管理</p>
                            <p>Health management</p>
                        </h4>
                        <p>从人体的唾液提取DNA，检测基因组上DNA序列个体差异的技术。以达到疾病预防，指导用药，提高生活质量的目的。</p>
                    </li>
                    <li>
                        <img src="{{ asset('/bundles/mirrormain/images/advantageIco3.png') }}" alt="">
                        <h4>
                            <p>科研服务</p>
                            <p>Scientific research service</p>
                        </h4>
                        <p>爱默提供高通量测序、CRISPR/Cas9基因编辑、蛋白质组学以及病毒包装等服务，旨在为广大科研工作者提供最优质的检测服务。</p>
                    </li>
                </ul>
            </div>
        </section>
        <section class="advantage">
            <figure>
                <figcaption>精准医疗检测服务<br>
                    <p>Precision medical testing service</p>
                </figcaption>
                <p>爱默基因拥有厦门大学一流科研机构的资深科学家领衔的专业技术团队，包括技术顾问、项目经理及研发人员等多数都是具有国内外著名研究机构或高等学府资深工作经验的生物科研专家。提供提供高通量测序，健康基因检测，临床基因筛查等一站式服务。</p>
                <!--<a href="javascript;">了解详情</a>-->
            </figure>
            <div class="advantageImg2">
                <figure>
                    <figcaption>平台分布<br>
                        <p>Precision medical testing service</p>
                    </figcaption>
                    <p>为全面贯彻落实我国人类遗传资源法规政策，提高我国生物企业责任感，促进平等互利的国际合作和交流，共同筑起保护我国人类遗传资源防线，爱默基因等数十家生物企业共同倡议：</p>
                    <!--<a href="javascript;">了解详情</a>-->
                </figure>
            </div>
        </section>
        <section class="advantage advantage3 backgroundColorWhite">
            <figure>
                <figcaption>平台分布<br>
                    <p>Precision medical testing service</p>
                </figcaption>
                <p>爱默基因（厦门）生物科技有限公司总部坐落于厦门大学翔安校区，在沈阳、长春、哈尔滨、大连等均设立了标准化实验室、GMP 厂房和分支机构。</p>
                <!--<a href="javascript;">了解详情</a>-->
            </figure>
            <div class="advantageImg3">
                <figure>
                    <figcaption>厦门大学药学院<br>
                        <p>School of Phamaceutical Sciences Xiamen University</p>
                    </figcaption>
                    <p>从人体的唾液提取DNA，检测基因组上DNA序列个体差异的技术。以达到疾病预防，指导用药，提高生活质量的目的。</p>
                    <!--<a href="javascript;">了解详情</a>-->
                </figure>
            </div>
            <div class="advantageImg4">
                <figure>
                    <figcaption>省级免疫生物公共技术服务平台<br>
                        <p>Provincial immunization biological public technology service platform</p>
                    </figcaption>
                    <p>从人体的唾液提取DNA，检测基因组上DNA序列个体差异的技术。以达到疾病预防，指导用药，提高生活质量的目的。</p>
                    <!--<a href="javascript;">了解详情</a>-->
                </figure>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <div class="footerNav">
                <ul>
                    <li><span>临床服务</span>
                        <ul>
                            <li><a href="javascript;">基因编辑</a></li>
                            <li><a href="javascript;">病毒包装</a></li>
                            <li><a href="javascript;">高能测量序</a></li>
                            <li><a href="javascript;">质谱学</a></li>
                        </ul>
                    </li>
                    <li><span>健康管理</span>
                        <ul>
                            <li><a href="javascript;">基因编辑</a></li>
                            <li><a href="javascript;">病毒包装</a></li>
                            <li><a href="javascript;">高能测量序</a></li>
                            <li><a href="javascript;">质谱学</a></li>
                        </ul>
                    </li>
                    <li><span>科研服务</span>
                        <ul>
                            <li><a href="javascript;">基因编辑</a></li>
                            <li><a href="javascript;">病毒包装</a></li>
                            <li><a href="javascript;">高能测量序</a></li>
                            <li><a href="javascript;">质谱学</a></li>
                        </ul>
                    </li>
                    <li><span>关于我们</span>
                        <ul>
                            <li><a href="javascript;">合作伙伴</a></li>
                            <li><a href="javascript;">资源资料</a></li>
                            <li><a href="javascript;">联系我们</a></li>
                            <li><a href="javascript;">加入我们</a></li>
                        </ul>
                    </li>
                    <li>
                        <p><img src="{{ asset('/bundles/mirrormain/images/footerLogo.png') }}" alt=""></p>
                        <p><img src="{{ asset('/bundles/mirrormain/images/code.jpg') }}" alt=""></p>
                    </li>
                    <li><span>联系我们</span>
                        <ul>
                            <li>0592-7821662</li>
                            <li>福建省厦门市厦门大学翔安校区庄瑾楼442</li>
                            <li>高能测量序</li>
                            <li>质谱学</li>
                        </ul>
                    </li>
                </ul>
                <div class="copyright">
                    Copyright©2011-2016 All Rights Reserved 版权所有：爱默基因（厦门）生物科技有限公司 闽ICP备16029836号-1
                </div>
            </div>
        </div>
    </footer>
</div>
<script src="{{ asset('/bundles/mirrormain/js/jquery.js',null,false,version) }}"></script>
<script src="{{ asset('/bundles/mirrormain/js/index.js') }}"></script>
</body>
</html>
