<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>海默基因</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="{{ asset('/bundles/mirrormain/css/bootstrap.min.css') }}"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('/bundles/mirrormain/css/inde.css') }}">
</head>
<body>
<div id="container">
    <header class="top">
        <div class="topNavLogo">
            <section class="container">
                <div class="row">
                    <div class="col-md-3 logo"><img src="{{ asset('/bundles/mirrormain/images/logo1.png') }}" alt=""></div>
                    <nav class="col-md-9 index-nav-list text-right">
                        <ul>
                            <li><a href="#" class="active">首页</a></li>
                            <li><a href="#">临床服务</a></li>
                            <li><a href="#">健康管理</a></li>
                            <li><a href="#">科研服务</a></li>
                            <li><a href="#">关于我们</a></li>
                            <li><a href="#">博客</a></li>
                        </ul>
                    </nav>
                </div>
            </section>
            <section class="slide-down" style="display: none">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="figure-pic">
                                <img src="{{ asset('/bundles/mirrormain/images/figurePic.png') }}" alt="">
                            </div>
                            <div class="index-company-info">
                                <h3>公司简介</h3>
                                <p>
                                    公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介</p>
                            </div>
                        </div>
                        <div class="col-md-8 index-two-nav">
                            <div class="row">
                                <div class="col-md-4">
                                    <h4>50个肿瘤热点区域基因检测</h4>
                                    <ul>
                                        <li>乳腺癌</li>
                                        <li>乳腺癌</li>
                                        <li>乳腺癌</li>
                                        <li>乳腺癌</li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <h4>50个肿瘤热点区域基因检测</h4>
                                    <ul>
                                        <li>乳腺癌</li>
                                        <li>乳腺癌</li>
                                        <li>乳腺癌</li>
                                        <li>乳腺癌</li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <h4>50个肿瘤热点区域基因检测</h4>
                                    <ul>
                                        <li>乳腺癌</li>
                                        <li>乳腺癌</li>
                                        <li>乳腺癌</li>
                                        <li>乳腺癌</li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <h4>50个肿瘤热点区域基因检测</h4>
                                    <ul>
                                        <li>乳腺癌</li>
                                        <li>乳腺癌</li>
                                        <li>乳腺癌</li>
                                        <li>乳腺癌</li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <h4>50个肿瘤热点区域基因检测</h4>
                                    <ul>
                                        <li>乳腺癌</li>
                                        <li>乳腺癌</li>
                                        <li>乳腺癌</li>
                                        <li>乳腺癌</li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <h4>50个肿瘤热点区域基因检测</h4>
                                    <ul>
                                        <li>乳腺癌</li>
                                        <li>乳腺癌</li>
                                        <li>乳腺癌</li>
                                        <li>乳腺癌</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </header>
    <main>
        <div class="publicityVideo">
            <video autoplay loop poster="polina.jpg" id="bgvid" muted>
                <source src="{{ asset('/bundles/mirrormain/video/video.mp4') }}" type="video/mp4">
            </video>
            <h3>精准医疗检测服务</h3>
            <a href="javascript;">了解详情</a>
        </div>
        <section class="advantage firstMain">
            <figure>
                <figcaption>关于联合保护中国人类遗传资源的倡议书</figcaption>
                <p>为全面贯彻落实我国人类遗传资源法规政策，提高我国生物企业责任感，促进平等互利的国际合作和交流，共同筑起保护我国人类遗传资源防线，爱默基因等数十家生物企业共同倡议：</p>
                <a href="javascript;">了解详情</a>
            </figure>
            <div class="advantageImg1">
                <ul>
                    <li>
                        <img src="{{ asset('/bundles/mirrormain/images/advantageIco1.png') }}" alt="">
                        <h4>
                            <p>临床诊断</p>
                            <p>clinical diagnosis</p>
                        </h4>
                        <p>利用基因测序技术，患者可以通过基因检测，了解自己的病症与自身基因变异的关系，从而获得最佳的治疗方案。</p>
                    </li>
                    <li>
                        <img src="{{ asset('/bundles/mirrormain/images/advantageIco2.png') }}" alt="">
                        <h4>
                            <p>临床诊断</p>
                            <p>clinical diagnosis</p>
                        </h4>
                        <p>利用基因测序技术，患者可以通过基因检测，了解自己的病症与自身基因变异的关系，从而获得最佳的治疗方案。</p>
                    </li>
                    <li>
                        <img src="{{ asset('/bundles/mirrormain/images/advantageIco3.png') }}" alt="">
                        <h4>
                            <p>临床诊断</p>
                            <p>clinical diagnosis</p>
                        </h4>
                        <p>利用基因测序技术，患者可以通过基因检测，了解自己的病症与自身基因变异的关系，从而获得最佳的治疗方案。</p>
                    </li>
                </ul>
            </div>
        </section>
        <section class="advantage">
            <figure>
                <figcaption>精准医疗检测服务<br>
                    <p>Precision medical testing service</p>
                </figcaption>
                <p>为全面贯彻落实我国人类遗传资源法规政策，提高我国生物企业责任感，促进平等互利的国际合作和交流，共同筑起保护我国人类遗传资源防线，爱默基因等数十家生物企业共同倡议：</p>
                <!--<a href="javascript;">了解详情</a>-->
            </figure>
            <div class="advantageImg2">
                <figure>
                    <figcaption>精准医疗检测服务<br>
                        <p>Precision medical testing service</p>
                    </figcaption>
                    <p>为全面贯彻落实我国人类遗传资源法规政策，提高我国生物企业责任感，促进平等互利的国际合作和交流，共同筑起保护我国人类遗传资源防线，爱默基因等数十家生物企业共同倡议：</p>
                    <!--<a href="javascript;">了解详情</a>-->
                </figure>
            </div>
        </section>
        <section class="advantage advantage3 backgroundColorWhite">
            <figure>
                <figcaption>精准医疗检测服务<br>
                    <p>Precision medical testing service</p>
                </figcaption>
                <p>为全面贯彻落实我国人类遗传资源法规政策，提高我国生物企业责任感，促进平等互利的国际合作和交流，共同筑起保护我国人类遗传资源防线，爱默基因等数十家生物企业共同倡议：</p>
                <!--<a href="javascript;">了解详情</a>-->
            </figure>
            <div class="advantageImg3">
                <figure>
                    <figcaption>精准医疗检测服务<br>
                        <p>Precision medical testing service</p>
                    </figcaption>
                    <p>为全面贯彻落实我国人类遗传资源法规政策，提高我国生物企业责任感，促进平等互利的国际合作和交流，共同筑起保护我国人类遗传资源防线，爱默基因等数十家生物企业共同倡议：</p>
                    <!--<a href="javascript;">了解详情</a>-->
                </figure>
            </div>
            <div class="advantageImg4">
                <figure>
                    <figcaption>精准医疗检测服务<br>
                        <p>Precision medical testing service</p>
                    </figcaption>
                    <p>为全面贯彻落实我国人类遗传资源法规政策，提高我国生物企业责任感，促进平等互利的国际合作和交流，共同筑起保护我国人类遗传资源防线，爱默基因等数十家生物企业共同倡议：</p>
                    <!--<a href="javascript;">了解详情</a>-->
                </figure>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <div class="footerNav">
                <ul>
                    <li><span>临床服务</span>
                        <ul>
                            <li><a href="javascript;">基因编辑</a></li>
                            <li><a href="javascript;">病毒包装</a></li>
                            <li><a href="javascript;">高能测量序</a></li>
                            <li><a href="javascript;">质谱学</a></li>
                        </ul>
                    </li>
                    <li><span>健康管理</span>
                        <ul>
                            <li><a href="javascript;">基因编辑</a></li>
                            <li><a href="javascript;">病毒包装</a></li>
                            <li><a href="javascript;">高能测量序</a></li>
                            <li><a href="javascript;">质谱学</a></li>
                        </ul>
                    </li>
                    <li><span>科研服务</span>
                        <ul>
                            <li><a href="javascript;">基因编辑</a></li>
                            <li><a href="javascript;">病毒包装</a></li>
                            <li><a href="javascript;">高能测量序</a></li>
                            <li><a href="javascript;">质谱学</a></li>
                        </ul>
                    </li>
                    <li><span>关于我们</span>
                        <ul>
                            <li><a href="javascript;">基因编辑</a></li>
                            <li><a href="javascript;">病毒包装</a></li>
                            <li><a href="javascript;">高能测量序</a></li>
                            <li><a href="javascript;">质谱学</a></li>
                        </ul>
                    </li>
                    <li>
                        <p><img src="{{ asset('/bundles/mirrormain/images/footerLogo.png') }}" alt=""></p>
                        <p><img src="{{ asset('/bundles/mirrormain/images/code.png') }}" alt=""></p>
                    </li>
                    <li><span>联系我们</span>
                        <ul>
                            <li>13402983984</li>
                            <li>北京市朝阳区望京SOHO</li>
                            <li>高能测量序</li>
                            <li>质谱学</li>
                        </ul>
                    </li>
                </ul>
                <div class="copyright">
                    Copyright©2011-2016 All Rights Reserved 版权所有：北京Amogene科技股份有限公司 京ICP备15008045号-2
                </div>
            </div>
        </div>
    </footer>
</div>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
<script src="{{ asset('/bundles/mirrormain/js/index.js') }}"></script>
</body>
</html>