<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>加入我们</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="{{ asset('/bundles/mirrormain/css/bootstrap.min.css') }}"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('/bundles/mirrormain/css/inviteInfo.css') }}">
</head>
<body>
<div id="container">
    <header class="top">
        <div class="topNavLogo">
            <section class="container">
                <div class="row">
                    <div class="col-md-3 logo"><img src="{{ asset('/bundles/mirrormain/images/logo1.png') }}" alt=""></div>
                    <nav class="col-md-9 index-nav-list text-right">
                        <ul>
                            <li><a href="/main/index" class="active">首页</a></li>
                            {% for sort in list %}
                                <li><a href="/main/server/sort/{{ sort['sortId'] }}">{{ sort['name'] }}</a></li>
                            {% endfor %}
                            <li><a href="/main/company">关于我们</a></li>
                            {#<li><a href="#">博客</a></li>#}
                        </ul>
                    </nav>
                </div>
            </section>
        </div>

    </header>
    <main>
        <div class="smallNav">
            {#<p>当前位置：加入我们>生物信息专员</p>#}
        </div>
        <div class="inviteInfo">
            <h1>生物信息专员</h1>
            <div class="inviteInfoMain">
                <div class="inviteInfoDesc">
                    <dl>
                        <dt>岗位职责：</dt>
                        <div class="inviteInfoDutyList">
                            {#<dd>1、NGS 数据分析；</dd>
                            <dd>2、生物信息分析流程开发及部署；</dd>
                            <dd>3、面向健康和临床的基因组学数据和文献的采集、整理、挖掘和利用；</dd>
                            <dd>4、领导交代的其他任务；</dd>#}
                        </div>

                    </dl>
                    <dl>
                        <dt>任职要求：</dt>
                        <div class="inviteInfoRequireList">
                            {#<dd>1、全日制本科及以上学历，医学、生物学、生物信息学、计算机和数理等相关专业;</dd>
                            <dd>2、须拥有计算机科学和生物信息学相关的学习或工作经验（数学、统计学、物理学、计算机、生物信息学、遗传学、分子生物学、微生物学等方向的专业经验将能帮助您更快的参与具体的工作）；</dd>
                            <dd>3、能够适应创业团队的工作方式，能够承担短时间高强度的弹性工作。专业技术工作之外还包括不同事务层面的沟通，需要积极的态度及创造性的合作；</dd>#}
                        </div>

                    </dl>
                    <dl>
                        <dt>优厚的福利待遇：</dt>
                        <div class="inviteInfoTreatmentList">
                            {#<dd>1、优越的薪酬体系：基本工资+绩效工资+社会保险+午餐补助+年终奖。 </dd>
                        <dd>2、年薪6W——10W以上。</dd>
                        <dd>3、定期组织员工活动。</dd>
                        <dd>4、提供良好实践平台，欢迎来我司参观，实习。</dd>#}
                        </div>
                    </dl>
                </div>
                <div class="inviteInfoContact">
                    <p>工作地点：厦门 翔安</p>
                    <p>联系人：张经理 13998222153（微信同）</p>
                    <p>招聘电话： 0592-3278807-6</p>
                </div>
            </div>
            <div class="inviteInfoBottom">
                <button>立即加入</button>
                <button>其他职位</button>
            </div>
        </div>
    </main>
    <footer>
        <div class="container">
            <div class="footerNav">
                <ul>
                    {% for sort in list %}
                        <li><span>{{ sort['name'] }}</span>
                            <ul>
                                {% for server in sort['server'] %}
                                    {% for server in sort['server'] %}
                                        {% if(server['is_up']==1) %}
                                            <li><a href="/main/server/{{ server['id'] }}">{{ server['title'] }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                    <li><span>关于我们</span>
                        <ul>
                            <li><a href="/main/company">爱默简介</a></li>
                            <li><a href="/main/invite">加入我们</a></li>
                            <li><a href="/main/contact">联系我们</a></li>
                        </ul>
                    </li>
                    <li>
                        <p><img src="{{ asset('/bundles/mirrormain/images/footerLogo.png') }}" alt=""></p>
                        <p><img src="{{ asset('/bundles/mirrormain/images/code.jpg') }}" alt=""></p>
                    </li>
                    <li><span>联系我们</span>
                        <ul>
                            <li>0592-7821662</li>
                            <li>福建省厦门市厦门大学翔安校区庄瑾楼442</li>
                        </ul>
                    </li>
                </ul>
                <div class="copyright">
                    Copyright©2011-2016 All Rights Reserved 版权所有：北京Amogene科技股份有限公司 京ICP备15008045号-2
                </div>
            </div>
        </div>
    </footer>
</div>
<script src="{{ asset('/bundles/mirrormain/js/jquery.js',null,false,version) }}"></script>
<script src="{{ asset('/bundles/mirrormain/js/admPublic.js',null,false,version) }}"></script>
<script src="{{ asset('/bundles/mirrormain/js/inviteInfo.js') }}"></script>
<script>
    var id={{ id }};
    ajaxAction("get",'/api/main/join/'+id,'',true,function(data,textStatus){
        console.log(data);
        $('.inviteInfoDutyList').html(data.info.duty);
        $('.inviteInfoRequireList').html(data.info.require);
        $('.inviteInfoTreatmentList').html(data.info.treatment);
        $('.smallNav p').text('当前位置：加入我们 > '+data.info.title+'');
    })
</script>
</body>
</html>